<div>
    <center>
        <header>
            <img src="https://icea-conf.github.io/image/ICEA2020-Banner.jpg" alt="" style="max-width: 100%; height: auto;">
        </header>
    
        <h3><a style="text-decoration:none" href='http://icea-conf.github.io/'> Home</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/committee/'>Committees</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/papers/'>Call for Papers</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/program/'>Program</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/registration/'>Registration</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/submission/'>Paper Submission</a></h3>
    <center>
</div>
<hr>
